{% extends 'catalog/base.html' %}
{% block content %}
<div class="container mt-8">
    <form class="row" method="post" enctype="multipart/form-data">  <!-- Встроенный стиль -->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">
                    Войти
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
